# 5 Quine-McCluskey Method

----

1. Use the Quine-McCluskey method to find a minimum SOP expression for $F (A, B, C) = Σm(1, 3, 4, 5)$

----

In [71]:
from IPython.display import Markdown
import QuineMccluskey as qm
from BooleanAlgebra import Solver
from BooleanAlgebra import KarnaughMap as kmap
from BooleanAlgebra import PiTable
import pandas as pd
from IPython.display import HTML
import warnings
warnings.filterwarnings('ignore')
def qctable(data):
    df = pd.DataFrame(data)
    df = (
        df.groupby("group", group_keys=True)
        .apply(lambda x: x)
        .loc[:, ["minterms", "binary"]]
    )
    return df

In [83]:
# qm.run([1,3,4,5])

In [107]:
t1 = {
    "group": [1, 1, 2, 2],
    "minterms": [1, 4, 3, 5],
    "binary": ["001", "100", "011", "101"],
}
t2 = {
    "group": [0, 0, 0],
    "minterms": ["1,3", "1,5", "4,5"],
    "binary": ["0-1", "-01", "10-"],
}

display(
    qctable(t1),
    qctable(t2),
    PiTable(
        [
            ("[1,3]", ""),
            ("[1,5]", ""),
            ("[4,5]", ""),
        ],
        [1, 3, 4, 5],
    ),
)

display(Markdown("**EPIs :** $[ 0-1 , 10- ]$ "))
display(Markdown("**Function :** $F= A'C + AB'$"))

         minterms binary
group
1     0         1    001
      1         4    100
2     2         3    011
      3         5    101

        minterms binary
group
0     0      1,3    0-1
      1      1,5    -01
      2      4,5    10-

        1  3  4  5
[1,3]   1  1  0  0
[1,5]   1  0  0  1
[4,5]   0  0  1  1

PI Table

**EPIs :** $[ 0-1 , 10- ]$

**Function :** $F= A'C + AB'$

------

2. Use the Quine-McCluskey method to find a minimum SOP expression for $F (A, B, C , D) = Σm(0,2,8,9,10,11)$

------

In [85]:
t1 = {
    "group":    [0, 1, 1, 2, 2, 3],
    "minterms": [0, 2, 8, 9,10,11],
    "binary":   ["0000","0010","1000","1001","1010","1011"],
}
t2 = {
    "group": [0,0,1,1,1,2,2],
    "minterms": ["0,2", "0,8", "2,10", "8,9", "8,10", "9,10","10,11"],
    "binary": ["00-0", "-000", "-010","100-", "10-0","10-1","101-"],
}
t3 = {
    "group": [0,1],
    "minterms": ["0,2,8,10","0,9,10,11"],
    "binary": ["-0-0","10--"],
}

display(
    qctable(t1),
    qctable(t2),
    qctable(t3),
    PiTable(
        [
            ("[0,2,8,10]", ""),
            ("[8,9,10,11]", ""),
        ],
        [0,2,8,9,10,11],
    ),
)

display(Markdown("**EPIs :** $[-0-0 , 10--]$ "))
display(Markdown("**Function :** $F= B'D' + AB'$"))

         minterms binary
group
0     0         0   0000
1     1         2   0010
      2         8   1000
2     3         9   1001
      4        10   1010
3     5        11   1011

        minterms binary
group
0     0      0,2   00-0
      1      0,8   -000
1     2     2,10   -010
      3      8,9   100-
      4     8,10   10-0
2     5     9,10   10-1
      6    10,11   101-

          minterms binary
group
0     0   0,2,8,10   -0-0
1     1  0,9,10,11   10--

             0  2  8  9  10 11
[0,2,8,10]    1  1  1  0  1  0
[8,9,10,11]   0  0  1  1  1  1

PI Table

**EPIs :** $[-0-0 , 10--]$

**Function :** $F= B'D' + AB'$

------

3. Use the Quine-McCluskey method to find a minimum SOP expression for $F (A, B, C , D , E) = Σm(0, 7 ,21 ,23) + Σm(6,14) $

------

In [106]:
t1 = {
    "group": [0, 2, 3, 3, 3, 4],
    "minterms": [0, 6, 7, 14, 21, 23],
    "binary": ["00000", "00110", "00111", "01110", "10101", "10111"],
}
t2 = {
    "group": [1, 1, 2, 2],
    "minterms": ["6,7", "6,14", "7,23", "21,23"],
    "binary": ["0011-", "0-110", "-0111", "101-1"],
}

display(
    qctable(t1),
    qctable(t2),
    PiTable(
        [
            ("[0]", ""),
            ("[6,14]", ""),
            ("[6,7]", ""),
            ("[7,23]", ""),
            ("[21,23]", ""),
        ],
        [0, 6, 7, 14, 21, 23],
    ).pt.loc[:,[0, 7, 21, 23]]
    
)

display(Markdown("**EPIs :** $[00000,0011-,101-1]$ "))
display(Markdown("**Function :** $F=A'B'C'D'E' + A'B'CD + AB'CE$"))

         minterms binary
group
0     0         0  00000
2     1         6  00110
3     2         7  00111
      3        14  01110
      4        21  10101
4     5        23  10111

        minterms binary
group
1     0      6,7  0011-
      1     6,14  0-110
2     2     7,23  -0111
      3    21,23  101-1

         0  7  21 23
[0]       1  0  0  0
[6,14]    0  0  0  0
[6,7]     0  1  0  0
[7,23]    0  1  0  1
[21,23]   0  0  1  1

**EPIs :** $[ 00000,101-1 ]$

**Function :** $F=A'B'CD + A'B'C'D'E' + AB'CE$