In [1]:
from IPython.display import Markdown
import ttg
import pandas as pd
import numpy as np 
def tt(args_list,exprs = None):
    df =  (ttg.Truths(args_list,exprs).as_pandas())[::-1]
    df = df.reset_index(drop = True)
    return df

In [2]:
from BooleanAlgebra import Solver
from BooleanAlgebra import KarnaughMap as kmap

# Chapter 4 -  Karnaugh Maps
-----

## Three Variable K-Maps

-----

### 1. Use a k-map to find a minimum SOP expression for : $F(A, B, C) = Œ£m(0, 1, 3, 4, 6)$

In [45]:
Solver(num_vars = 3, fn = [1,1,0,1,1,0,1,0],show_legend=False).display()

### Truth Table

   A  B  C  F
0  0  0  0  1
1  0  0  1  1
2  0  1  0  0
3  0  1  1  1
4  1  0  0  1
5  1  0  1  0
6  1  1  0  1
7  1  1  1  0

### KMAP

         0  1
        C'  C
00 A'B'  1  1
01 A'B   0  1
11 AB    1  0
10 AB'   1  0

### KMAP Legend

         0  1
        C'  C
00 A'B'  0  1
01 A'B   2  3
11 AB    6  7
10 AB'   4  5

### Minimum SOP form
To find the minimum SOP expression, first group all adjacent 1s:

GROUPS: $[0,1],[1,3],[6,4] = A'B' + A'C + AC'$

ùê¥‚Ä≤ùêµ‚Ä≤+ùê¥‚Ä≤ùê∂+ùê¥ùê∂‚Ä≤                                                                                                                                                                       
= ùê¥‚Ä≤(ùêµ‚Ä≤+ùê∂) + ùê¥ùê∂‚Ä≤   (Distributive law)                                                                                                                                              
-----

### 3. Identify all of the implicants contained in $F(A, B, C) = A ‚äï B + B‚Ä≤C‚Ä≤.$

In [50]:
Solver(num_vars = 3, expression= ["((a and not b) or (not a and b)) or (not b and not c)"]).display()

### Truth Table

   A  B  C  F
0  0  0  0  1
1  0  0  1  1
2  0  1  0  1
3  0  1  1  1
4  1  0  0  1
5  1  0  1  1
6  1  1  0  1
7  1  1  1  1

### KMAP

         0  1
        C'  C
00 A'B'  1  1
01 A'B   1  1
11 AB    1  1
10 AB'   1  1

### KMAP Legend

         0  1
        C'  C
00 A'B'  0  1
01 A'B   2  3
11 AB    6  7
10 AB'   4  5

IMPLICANTS = $\textbf{groups_of_one}([0],[2],[3],[4],[5]),\textbf{groups_of_two}([0,2],[2,3],[0,4],[4,5])$

PRIME IMPLICANTS = $[0,2],[2,3],[0,4],[4,5] = A'C' + A'B + B'C +AB'$

ESSENTIAL PRIME IMPLICANTS= $[0,2],[2,3],[4,5] = A'C' + A'B +AB'$


------

### 5. $F(A, B, C) = A‚Ä≤C + AB‚Ä≤$ and $G(A, B, C) = (A‚Ä≤ + C‚Ä≤)(B‚Ä≤ + C)(A + C)$ are equivalent expressions. Use a k-map to determine which term(s) must be don‚Äôt cares.

In [51]:
print ("F(A, B, C) = A‚Ä≤C + AB")
print(Solver(num_vars = 3, expression= ["(not A and C ) or (A and not B)"]).kmap)
Solver(num_vars = 3, expression= ["(not A and C ) or (A and not B)"],show_legend = True).kmap

F(A, B, C) = A‚Ä≤C + AB

         0  1
        C'  C
00 A'B'  0  1
01 A'B   0  1
11 AB    0  0
10 AB'   1  1

         0  1
        C'  C
00 A'B'  0  1
01 A'B   2  3
11 AB    6  7
10 AB'   4  5

In [52]:
print ("(ùê¥‚Ä≤+ùê∂‚Ä≤)(ùêµ‚Ä≤+ùê∂)(ùê¥+ùê∂)")
print(Solver(num_vars = 3, expression= ["(not A or not C) and (not B or C) and (A or C)"]).kmap)
Solver(num_vars = 3, expression= ["(not A or not C) and (not B or C) and (A or C)"],show_legend = True).kmap

(ùê¥‚Ä≤+ùê∂‚Ä≤)(ùêµ‚Ä≤+ùê∂)(ùê¥+ùê∂)

         0  1
        C'  C
00 A'B'  0  1
01 A'B   0  1
11 AB    0  0
10 AB'   1  0

         0  1
        C'  C
00 A'B'  0  1
01 A'B   2  3
11 AB    6  7
10 AB'   4  5

Therefore, since minterm 5 is the only one that is not shared, it must be a don't care. 

----

## Four Variable K-Maps

----

### 1. Use a k-map to find a minimum SOP expression for $F (A, B, C, D) = Œ†M (0, 3, 4, 8, 9, 10, 14)$

In [56]:
display(Solver(num_vars = 4, fn = [1,0,0,1,1,0,0,0,1,0,0,1,0,0,0,0],show_legend = False).kmap)
display(Solver(num_vars = 4, fn = [1,0,0,1,1,0,0,0,1,0,0,1,0,0,0,0],show_legend = True).kmap)

          00  01 11  10
        C'D' C'D CD CD'
00 A'B'    1   0  1   0
01 A'B     1   0  0   0
11 AB      0   0  0   0
10 AB'     1   0  1   0

          00  01  11  10
        C'D' C'D  CD CD'
00 A'B'    0   1   3   2
01 A'B     4   5   7   6
11 AB     12  13  15  14
10 AB'     8   9  11  10

group ones to find F

#### Prime Implicants $ = [0,4],[8,0],[11,3]$

Minimum SOP:

$ F = A'C'D' + B'C'D' + B'CD$

-----

### 3. Use a k-map to find a minimum POS expression for $F (A, B, C, D) = Œ£m(1, 3, 4, 5, 6, 12, 14, 15)$

In [59]:
display(Solver(num_vars = 4, fn = [0,1,0,1,1,1,1,0,0,0,0,0,1,0,1,1],show_legend = False).kmap)
display(Solver(num_vars = 4, fn = [0,1,0,1,1,1,1,0,0,0,0,0,1,0,1,1],show_legend = True).kmap)

          00  01 11  10
        C'D' C'D CD CD'
00 A'B'    0   1  1   0
01 A'B     1   1  0   1
11 AB      1   0  1   1
10 AB'     0   0  0   0

          00  01  11  10
        C'D' C'D  CD CD'
00 A'B'    0   1   3   2
01 A'B     4   5   7   6
11 AB     12  13  15  14
10 AB'     8   9  11  10

group zeros to find F'

#### Prime Implicants $= [8,9,11,10],[9,13],[7],[0,2,8,10]$

$ F' = AB' + AC'D + A'BCD + B'D'$

Solve for F to find POS using demorgans law 

$F'' = (AB' + AC'D + A'BCD + B'D')$

$F'' = (A' + B)(A + C' + D')(A + B'+ C' +D')(B + D)$

-----


### 4. A sensor is capable of determining whether or not a car is speeding (driving faster than the speed limit) or driving dangerously (driving 10 m.p.h. or more above the speed limit). 

### The sensor receives the codes given in table 4.6, where AB corresponds to the speed limit and CD corresponds to the speed of the vehicle. Use a k-map to solve for F (as either minimum SOP or minimum POS), which indicates if the car is speeding.

$ $

|AB |Speed Limit |CD |Car‚Äôs Speed
|----|---------|-|-------------|
|00 | 45 m.p.h.|00| < 45 m.p.h.|
|01 |55 m.p.h. |01| 46‚Äì55 m.p.h.|
|10 |65 m.p.h. |10| 56‚Äì65 m.p.h.|
|11 | unused   |11| 66‚Äì75 m.p.h.|

In [66]:
display(Solver(num_vars = 4,fn = [0,1,1,1,0,0,1,1,0,0,0,1,'x','x','x','x'] ).kmap)
display(Solver(num_vars = 4,fn = [0,1,1,1,0,0,1,1,0,0,0,1,'x','x','x','x'],show_legend = True ).kmap)

          00  01 11  10
        C'D' C'D CD CD'
00 A'B'    0   1  1   1
01 A'B     0   0  1   1
11 AB      x   x  x   x
10 AB'     0   0  1   0

          00  01  11  10
        C'D' C'D  CD CD'
00 A'B'    0   1   3   2
01 A'B     4   5   7   6
11 AB     12  13  15  14
10 AB'     8   9  11  10

From KMAP: 

$F  = [3,2,7,6],[3,7,11,15],[1,3,2] = A'C + CD + A'B'$

-----

## Prime Implicant Tables

-----

### 1.