In [2]:
import ttg
def tt(args_list,exprs = None):
    df =  (ttg.Truths(args_list,exprs).as_pandas())[::-1]
    df = df.reset_index(drop = True)
    return df

In [7]:
tt(['A', 'B', 'C'], 
   ['A or B or not C',                    
   ])

   A  B  C  A or B or not C
0  0  0  0                1
1  0  0  1                0
2  0  1  0                1
3  0  1  1                1
4  1  0  0                1
5  1  0  1                1
6  1  1  0                1
7  1  1  1                1